.input input:-webkit-autofill,
.input input:-webkit-autofill:hover,
.input input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #dcdcfe inset !important;
  box-shadow: 0 0 0px 1000px #dcdcfe inset !important;
  transition: background-color 5000s ease-in-out 0s;
  color: #000;
  -webkit-text-fill-color: #000;
  caret-color: #000;
}
